name: Deploy to Cloud Run

on:
  push:
    branches: [ "mainx" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          #credentials_json: ${{ secrets.xGCP_SA_KEY }}
          workload_identity_provider: "projects/755119051536/locations/global/workloadIdentityPools/github-pool2/providers/github-provider2"
          service_account: "github-deployer2@go-hello-482214.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy go-hello \
            --source . \
            --region ${{ secrets.GCP_REGION }} \
            --project ${{ secrets.GCP_PROJECT_ID }} \
            --allow-unauthenticated=false

